/* Dashboard styles */

.userOverlay{
    background: url(https://res.cloudinary.com/calm-com/image/upload/f_auto,c_scale,w_2560,dpr_auto,q_auto/v1582139698/jasper-lake.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
}

.sidebar{
    background: linear-gradient(268deg, rgba(0, 0, 0, 0.475) 22%, rgba(0, 0, 0, 0.6) 87%);
    width : 18vw;
    padding : 30px;
}

.sidebar > img {
    height: 38.88px;
}

.normalButton{
    margin: 20px 0;
    color: white;
    background: linear-gradient(268deg, rgba(0, 0, 0, 0.666) 22%, rgba(0, 0, 0, 0.6) 87%);
    padding: 20px;
    border-radius: 40px;
    font-size: 17px;
    text-align: center;
    width : 100%;
    border: none;
    font-weight: 700;
    outline: none;
}

.currentButton{
    margin: 20px 0;
    color: white;
    background: linear-gradient(268deg, rgba(0, 0, 0, 0.666) 22%, rgba(0, 0, 0, 0.6) 87%);
    padding: 20px;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    width : 100%;
    border: none;
    font-weight: bold;
    border: 1px solid white;
    outline: none;
}